.lactec {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lactecLogo {
    
}


.lactec img {
    width: 40%;
    margin-bottom: 32px;
}

.content {
    display: flex;
    justify-content: space-evenly;
}